@tailwind base;
@tailwind components;
@tailwind utilities;



.background-image {
    &:before {
      content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-image: linear-gradient(to bottom right,#000000,#000000);
          opacity: .6; 
    }
  }



  
@layer utilities {
    @variants responsive {
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }

      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
      }
    }
  }